/* variables for when changing to frequently used colors */
/* can apply by adding var(--DesiredColor) */
:root {
  --mainColor: rgb(37, 34, 34);
  --mainColorDark: #7b4108;
  --mainColorLight: rgba(255, 69, 0, 0.1);
  --secondaryColor: rgb(99, 81, 75);
  --tertiaryColor: rgb(245, 245, 245);
  --mainTextColor: rgb(175, 175, 175);
  --secondaryTextColor: rgb(200, 200, 200);
}

.app {
  background-color: rgb(247, 247, 247);
  padding: 20px;
  min-height: 100vh;
  max-width: 100vw;
}

.appDark {
  background-color: #21273b;
  padding: 20px;
  min-height: 100vh;
  max-width: 100vw;
}

/* default header styles */
h2, h3 {
  font-size: 30px;
  font-family: 'Georama', sans-serif;
}

/* remove default a tag styles */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* reuseable css styles */
.container-default {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p-default {
  font-size: 14px;
  line-height: 1.5;
  margin: 15px 5px 25px 10px;
}

/* arrow up styles */
.footer__btn {
  cursor: pointer;
  border: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-size: 24px;
  color: white;
  background-color: orangered;
  z-index: 10000;
  right: 15px;
  bottom: 20px;
}

.footer__btn:hover {
  outline: none;
  background-color: orange;
  transition: 0.3s ease-out;
}

.footer__btn:active {
  background-color: orange;
  transition: 0.3s ease-out;
  outline: none;
}
/* end of arrow up styles */
@media screen and (min-width: 360px) {
  .p-default {
    font-size: 16px;
  }
}
@media screen and (min-width: 412px) {
  .p-default {
    margin: 15px 15px 30px 15px;
  }
}
@media screen and (min-width: 768px) {
  .footer__btn {
    height: 45px;
    width: 45px;
    font-size: 42px;
    right: 35px;
    bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .p-default {
    margin: 20px 40px 40px 40px;
    line-height: 2.3;
    font-weight: 500;
  }
}