.nav-container {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orangered;
    padding: 0 20px;
    /* mid - large screens */
    /* padding: 0 120px; */
    font-family: 'Montserrat', sans-serif;
}
.nav-container > h1 {
    font-size: 36px;
    /* mid - large screens */
    /* font-size: 44px; */
    font-family: 'Titillium Web', sans-serif;
}
/* .nav-right {
    mid - large screens
    padding: 0 240px;
} */
.nav-switch {
    margin:  0 60px 0 20px;
    border: 2px solid orangered;
    background-color: orangered;
    padding: 5px;
    border-radius: 50%;
}
.nav-switch:hover {
    background-color: rgb(233, 99, 51);
    border: 2px solid #21273b;
    transition: 0.3s ease-in-out;
}
button > img {
    height: 25px;
    width: 25px;
}
.nav-link:hover {
    color: black;
    transform: scale(1.5);
    transition: 0.7s ease-out;
}