.nav-container {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--mainColor);
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}
.nav-container > h1 {
    font-size: 36px;
    font-family: 'Titillium Web', sans-serif;
}
.nav-right {
    margin-left: 0px;
}
.nav-switch {
    margin:  0 60px 0 20px;
    background-image: linear-gradient(to left, var(--mainColor) , var(--orange));
    padding: 5px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.nav-switch:hover {
    background-image: none;
    background-color: var(--mainColor);
    border-radius: 20%;
    transition: 0.3s ease-in-out;
}
button > img {
    height: 20px;
    width: 20px;
}
@media screen and (min-width: 820px) {
    button > img {
        height: 27px;
        width: 27px;
    }
    .nav-container > h1 {
        font-size: 44px;
    }
}
