.footer__container {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--footerText);
    background-color: var(--footerBg);
  }
  
  .footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }