.projects-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: bisque;
}
.projects-container > h2 {
    text-align: center;
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 20px 0;
    padding: 25px 0 40px 0;
    height: auto;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-container > h3 {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    font-weight: 700;
}
.project-links > a {
    padding: 10px 15px 5px 15px;
    margin: 0px 10px;
    justify-content: center;
    background-color: orangered;
    color: white;
    border-radius: 10px;
    font-size: 28px;
}
.project-links > a:hover {
    transition: 0.2s ease-in-out;
    background-color: orange;
}
.project-description {
    padding: 5px 10px;
}
.project-skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
summary {
    margin: 20px 20px 40px 20px;
}
.project-skills {
    height: 50px;
    width: auto;
    margin: 0 20px 50px 0;
}
.project-img > img{
    height: 150px;
    width: auto
}
@media screen and (min-width: 360px) {
    .project-img > img{
        height: 200px;
        width: auto
    }
}
@media screen and (min-width: 540px) {
    .project-description {
        padding: 25px 40px;
    }
    .project-links > a {
        margin: 0px 20px 0px 20px;
        padding: 12px 20px 8px 20px;
        font-size: 32px;
        font-weight: 700;
    }
    .project-skills {
        width: 60px;
        height: 60px;
    }
    .project-img > img{
        height: 300px;
        width: auto
    }
    
}
@media screen and (min-width: 768px) {
    .project-img > img{
        height: 400px;
        width: auto
    }
}